In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [84]:
train_df = pd.read_csv("train.csv")
len_train,col_train = train_df.shape[0],train_df.shape[1]
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [85]:
train_df = train_df.dropna()
train_df.drop(['Embarked','Name','Ticket','PassengerId'],axis=1,inplace=True)
train_df = train_df.reset_index(drop=True)
y = np.array(train_df['Survived'].copy()).reshape(len(train_df['Survived']),1)
X = train_df.drop('Survived',axis=1)

In [86]:
for i in range(X.shape[0]):
    if X.at[i,"Sex"] == "male":
        X.at[i,"Sex"] = 1
    else:
        X.at[i,"Sex"] = 0

X["Cabin"] = [ord(X.at[i,"Cabin"][0])-ord("A") for i in range(X.shape[0])]
#X["Sex"] = [X.at[i,"Sex"][0] for i range(X.shape[0])]
X["Fare"] = [round(X["Fare"][i]/75,3) for i in range(X.shape[0])]
X["Age"] = [round(X["Age"][i]/35,3) for i in range(X.shape[0])]
X.describe()

           Pclass         Age       SibSp       Parch        Fare       Cabin
count  183.000000  183.000000  183.000000  183.000000  183.000000  183.000000
mean     1.191257    1.019306    0.464481    0.475410    1.049077    2.491803
std      0.515187    0.446979    0.644159    0.754617    1.017965    1.889441
min      1.000000    0.026000    0.000000    0.000000    0.000000    0.000000
25%      1.000000    0.686000    0.000000    0.000000    0.396000    1.000000
50%      1.000000    1.029000    0.000000    0.000000    0.760000    2.000000
75%      1.000000    1.357000    1.000000    1.000000    1.200000    3.500000
max      3.000000    2.286000    3.000000    4.000000    6.831000   19.000000

In [87]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.4)
X_train = X_train.T
y_train = y_train.T
X_test = X_test.T
y_test = y_test.T

In [88]:
X_train = np.array(X_train, dtype=float)
X_test = np.array(X_test, dtype=float)
X_train.shape

(7, 109)

In [89]:
y_test.shape

(1, 74)

In [1]:
def sigmoid(z):
    
    s = 1/(1+np.exp(-z))
  
    
    return s

def initialize_params(layer_dim): #layer_dim = [7, 4, 1]
    
    parameters = {}
    for l in range(1,len(layer_dim)):
        parameters["w"+str(l)] = np.random.randn(layer_dim[l],layer_dim[l-1])
        parameters["b"+str(l)] = np.zeros((layer_dim[l], 1))
    return parameters
    
def compute_loss(a3, Y):
    
    """
    Implement the loss function
    
    Arguments:
    a3 -- post-activation, output of forward propagation
    Y -- "true" labels vector, same shape as a3
    
    Returns:
    loss - value of the loss function
    """
    
    m = Y.shape[1]
    logprobs = np.multiply(-np.log(a3),Y) + np.multiply(-np.log(1 - a3), 1 - Y)
    loss = 1./m * np.nansum(logprobs)
    
    return loss

    
def fwd_prop(parameters, X, y):
    m = X.shape[1]
    w1 = parameters["w1"] #(4,7)
    b1 = parameters["b1"] #(4,1)
    w2 = parameters["w2"] #(1,4)
    b2 = parameters["b2"] #(1,1)
    
    z1 = np.dot(w1,X) + b1
    A1 = sigmoid(z1)
    z2 = np.dot(w2,A1) + b2
    A2 = sigmoid(z2)
    
    
    cache = (z1, A1, w1, b1, z2, A2, w2, b2)
    
    return A2, cache
    
    
    
def back_prop(X, Y, cache):
    dz2 = 1/m *(A2-y)
    dw2 = np.dot(dz2,A1.T)
    dz1 = np.multiply(da1, np.int64(a1 > 0))
    db2 = np.sum(dz2, axis=1, keepdims = True)
    
    dz1 = np.multiply(da1, np.int64(a1 > 0))
    dw1 = np.dot(dz1, X.T)
    db1 = np.sum(dz1, axis=1, keepdims = True)
    
    grads = {"dw2":dw2,
             "db2":db2,
             "dz1":dz1,
             "db1":db1}
    
    
#     Z = np.dot(w.T,X)+b
    
#     A = sigmoid(Z)
#     cost = (-1/m)*np.sum(np.multiply(y,np.log(A))+np.multiply((1-y),np.log(1-A)))
#     dw = (1/m)*np.dot(X,(A-y).T)
#     db = (1/m)*np.sum(A-y)
#     grads = {"dw": dw,
#              "db": db}
    
#     return grads, cost

In [91]:
def optimize(w, b, X, y, num_iter, learning_rate, print_cost=True):
    costs = []
    for i in range(num_iter):
        grads, cost = fwd_bck_prop(w,b,X,y)
        dw = grads["dw"]
        db = grads["db"]
        
        w = w - learning_rate * dw
        b = b - learning_rate * db
        
        
        if i % 1000 == 0:
            costs.append(cost)
            
        if print_cost and i%1000 == 0:
            print("for iteration {} cost : {}".format(i,cost))
        
    params = {"w": w,
              "b": b}
    
    grads = {"dw": dw,
             "db": db}
        
    return params, grads, costs

In [92]:
def predict(w, X, b):
    
    m = X.shape[1]
    Y_prediction = np.zeros((1, m))
    w = w.reshape(X.shape[0],1)
    
    A = sigmoid(np.dot(w.T,X)+b)
    
    Y_prediction = np.array([[1 if A[0, i] > 0.5 else 0 for i in range(m)]])
    
    return Y_prediction

In [93]:
def model(X_train, y_train, X_test, y_test, num_iter=20000, learning_rate = 0.0001, print_cost=True):
    
    w, b = initialize_params(X_train.shape[0])
    print(w.shape)
    
    
    parameters, grads, costs = optimize(w, b, X_train, y_train, num_iter, learning_rate, print_cost)
    
    print("params : {}".format(parameters))
    print("grads : {}".format(grads))
#     print("costs : {}".format(costs))
    
    
    w = parameters["w"]
    b = parameters["b"]
    
    y_predict_test = predict(w, X_test, b)
    y_predict_train = predict(w,X_train, b)
    
    
    print("train accuracy: {} %".format(100 - np.mean(np.abs(y_predict_train - y_train)) * 100))
    print("test accuracy: {} %".format(100 - np.mean(np.abs(y_predict_test - y_test)) * 100))

In [106]:
model(X_train, y_train, X_test, y_test, num_iter = 10000, learning_rate = 0.0089, print_cost = True)

(7, 1)
for iteration 0 cost : 0.6931471805599454
for iteration 1000 cost : 0.5216518972434421
for iteration 2000 cost : 0.48167336047146
for iteration 3000 cost : 0.4625892498791277
for iteration 4000 cost : 0.4511912149672121
for iteration 5000 cost : 0.44336666398709396
for iteration 6000 cost : 0.4374656709242369
for iteration 7000 cost : 0.4327164455782987
for iteration 8000 cost : 0.4287190504949097
for iteration 9000 cost : 0.4252499056931028
params : {'w': array([[ 0.37109662],
       [-2.57467887],
       [-0.96842454],
       [ 0.09928553],
       [-0.2084513 ],
       [ 0.51741033],
       [ 0.2626696 ]]), 'b': 1.7069550940014948}
grads : {'dw': array([[0.00240005],
       [0.00635505],
       [0.00499963],
       [0.00107291],
       [0.00015916],
       [0.00107812],
       [0.00029108]]), 'db': -0.015909179475546754}
train accuracy: 79.81651376146789 %
test accuracy: 67.56756756756756 %